%grid
  max-width: 90%
  margin-left: auto
  margin-right: auto
  width: 46rem

%padded
  padding: $padding 0

%top-line
  border-top: 1px solid black

%bottom-line
  border-bottom: 1px solid black

%fine-underline
  text-underline-offset: .1em
  text-decoration-thickness: 1px
