%center
  margin-left: auto
  margin-right: auto

%grid
  padding: 0 1rem

%text
  width: $line-width
  max-width: 100%

%padded
  padding: $padding 0

%top-line
  border-top: 1px solid black

%bottom-line
  border-bottom: 1px solid black

%fine-underline
  text-underline-offset: .1em
  text-decoration-thickness: 1px
