$line-height: 1.375;
$line-hight_title: 1.15;
$leading: $line-height * 1rem;

// Jobs, flashes, footer
$padding: 3 / 8 * $leading;
$footer-padding-top: $padding;
$footer-padding-bottom: $leading;
$footer-height: $footer-padding-top + $leading + $footer-padding-bottom;

$dark-color: #eee;
$dark-background: #222;
